---
import { site } from "../data/site";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`About — ${site.name}`} description={`About ${site.name}.`}>
  <h1 class="font-serif mb-10">About</h1>

  <section class="mb-10">
    <p>
      I really like computers. I think they’re lots of fun and the more you learn about them, the
      more fun they become. So I’ve studied electronics engineering at the University of Buenos
      Aires (UBA), and computer science at the Open University of Catalonia (UOC). Dropped out from
      both though. I decided to continue educating myself on my own.
    </p>
    <p>
      I enjoy feeling ownership of the products I work on. I’ve been part of small teams, which
      allowed me to interact across the whole stack when publishing something to the internet. From
      HTTP servers, databases and platform tooling, all the way up to UX/UI. Nowadays, I’m looking
      forward to further deepening my knowledge in systems programming.
    </p>
    <p>
      After a few years in the web industry, I have the sense that most web software out there is
      bloated and soulless. I believe web apps could be lighter and faster. And code should aspire
      to a certain degree of beauty. I appreciate efforts being done in this direction and I’m eager
      to contribute to them. I’d be happy if we could integrate craftsmanship into making software.
    </p>
  </section>
</Layout>
