---
import { site } from "../data/site";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`About — ${site.name}`} description={`About ${site.name}.`}>
  <h1 class="font-serif mb-10">About</h1>

  <section class="mb-10">
    <p>
      I really like computers. I think they’re lots of fun and they get more fun the more you know
      about them. So I’ve studied electronics engineering at the University of Buenos Aires (UBA),
      and computer science at the Open University of Catalonya (UOC). Dropped out from both though.
      I decided to continue educating myself on my own.
    </p>
    <p>
      I enjoy feeling ownership of the products I work at. I’ve been part of small teams, which has
      allowed me to interact across the whole stack when it comes to publishing something to the
      internet. From HTTP servers, databases, platform tooling, all the way up to UX/UI. Nowadays,
      I’m looking forward to further deepening my knowledge towards systems programming.
    </p>
    <p>
      After a few years in the web industry, I have the sense that most of web software out there is
      bloated and soul-less. I appreciate efforts being done in the sake of shipping lighter,
      minimal, faster code; and I’d like to contribute in that same direction. I’d be happy if we
      can integrate craftsmanship into making software.
    </p>
  </section>
</Layout>
